* {
	padding: 0;
	margin: 0;
}
.img500 {
	width: 500px;
	height: auto;
	display: block;
}
.navbar {
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
}

.navbar ul {
	list-style: none;
	display: flex;
	gap: 20px;
	padding: 0;
	margin: 0;
}

.navlinks {
	color: white;
	text-decoration: none;
	font-size: 18px;
}
.mainDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	height: 800px;
}
.contactBtn {
	padding: 20px 50px;
	background-color: #000;
	color: white;
	border: none;
	cursor: pointer;
}
