.img350 {
	width: 350px;
	border-radius: 10%;
}

.h1underline {
	text-decoration: underline;
}
.gold {
	color: rgb(255, 196, 0);
	font-weight: bold;
}
.social {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.center {
	text-align: center;
}
.navbar {
	background-color: aqua;
}
.footer {
	background-color: aqua;
	margin-top: 20px;
}
