.productBox {
	background-color: #d3d3d3;
	color: #000;
	margin: 0px 50px;
	border: 2px solid grey;
	text-align: center;
	width: 450px;
	margin: 15px;
}
.buyButton {
	padding: 10px;
	margin: 15px;
	background-color: black;
	color: white;
	width: 150px;
}
.productImg {
	width: 100%;
}
