* {
	margin: 0;
	padding: 0;
}
.navigation {
	background-color: #000;
	color: #fff;
	padding: 20px;
	text-align: center;
	display: flex;
	justify-content: space-around;
}
.navLinks {
	color: #cacaca;
	text-decoration: none;
	margin: 0 15px;
}
.primary {
	color: #c47f00;
}
.bg {
	background-color: rgba(0, 0, 0, 0.274);
	padding: 20px 90px;
}
.header {
	background-image: url("../slike/automobili/head-img.jpg");
	height: 50vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 2.5rem;
	color: white;
	text-shadow: 5px 2px 2px rgb(0 0 0 / 100%);
	text-align: center;
}
.carSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}
.carList {
	width: 450px;
	margin: 5px;
	font-size: 17px;
	font-family: "Open Sans", sans-serif;
}
.carInfo {
	gap: 25px;
	margin-top: 7px;
	font-size: 0.9rem;
}

.carList Img {
	width: 100%;
}
.priceRow {
	display: flex;
	justify-content: space-between;
}
.priceCar {
	color: #c47f00;
	font-weight: bold;
	margin-top: 5px;
	font-size: 1.2rem;
}
.flex {
	display: flex;
}
.carTitle {
	font-size: 1.6rem;
	font-weight: bold;
}
.carDesc {
	font-size: 1rem;
}
.footer {
	background-color: grey;
	margin-top: 20px;
	text-align: center;
	color: white;
	padding: 15px;
}
@media only screen and (max-width: 640px) {
	.carList {
		width: 45%;
	}
}
