* {
	margin: 0;
	padding: 0;
}

.videos {
	width: 350px;
	margin: 10px;
	display: inline-block;
	text-align: center;
}
.videoImage {
	width: 100%;
	height: 200px;
	border-radius: 5%;
}
.headingTitle {
	padding: 5px 0px;
}
.gridVideos {
	width: 80%;
	text-align: center;
}
.videos:hover {
	transform: scale(1.1);
	transition-duration: 0.5s;
}
